* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header,footer{
    background-color:#00695C;
    height: 100px;
    font-family: sans-serif;
    color: #ffff;
}
header h1{
    font-size: 40px;
    line-height: 100px;
    text-align: center;
}

.accesible{
    font-size: 40px;
    line-height: 100px;
    text-align: center;
}

body {
    background-color:#A8C0C1;
}
.home {
    display: flex;
    flex-wrap: wrap;
}
.text {
    font-family: sans-serif;
    color: #353a3bfb;
}
#mapid { 
    background-color: #A8C0C1;
    flex: 2;
    height: 500px;
    min-width: 250px;
    outline: none;
    padding: 20px;
    position: relative;
 }
 #desc {
     background-color:#A8C0C1;
     text-align: center;
     flex: 1;
     margin:0 auto;
     min-width: 250px;
     padding: 20px;
 }
 #info {
    height:80%;
    width: 80%;
    border-style: groove;
    border-color: #55F3A3;
    background-color: #ffff;
    flex: 1;
    margin:0 auto;
    min-width: 250px;
    padding: 20px;
}
 #video {
    width: 80%; 
    height: 50%;   
 }
 #boton_acc{
     text-align: center;
     background-color: aquamarine;
 }
.centrar{
    display: flex;
    justify-content: center;
}
.ocultar-visualmente {

    position:absolute;
    
    overflow:hidden;
    
    top:-9999px; /* o left:-9999px; o text-indent:-9999px; */
    
}

footer{
    margin-top: 2rem;
    padding: 1rem 0;
}
.footer__texto{
    text-align: center;
    margin-top: 3rem;

}